body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    height: 500px;
    padding-bottom: 200px;
    padding-right: 50px;
}
h1{
    font-size: 40px;
    color: green;
    font-weight: bolder;
}

h2{
    font-size: 30px;
}
.half-width{
    padding: 50px;
    width: 40%;
    float: left;
    padding-left: 2%;

} 

.Text-Part{
    padding: 180px;
    width: 30%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}


.half-width img{
    width: 110%;
} 

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(156, 127, 132) , tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.Upper-part{
    background-image: url("images/header-bg.png");
    background-position: 40%;
}

.Middle-part{
    background-image: url("images/biography-bg.png");
    background-position: left;
}
.Last-Part{
    background-image: url("images/latest-work-bg.png");
    background-position: left;
}
.Footer-Part{
    background-image: url("images/footer-bg.png");
    background-position: left;
}

.experience-area{
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}

.Picture-width img{
    width: 25%;
    float: left;
    margin-left: 7%;
    padding-left: 0%;

}
.header{
    padding: 100px;
    text-align: center;
}

.footer{
    text-align: center;
    bottom: 20px;
    
       
}
.mail{
    border: 10px solid;
    background-image: linear-gradient(45deg, rgb(18, 86, 107) , tomato);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    width: 800px;
    margin-left: 23%;

}

.single-experience{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 5px;
    height: 50%;
    width: 35%;
    margin-left: 100px;

}
.orange-heighlight{
    color: orange ;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon , tomato);
    border-image-slice: 1;
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,Blue ,cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    font-size: 12px;
}


